---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Ranges Music Network",
    description:
      "#playtolearn with in-school music and community education programs.  Visit rangesmusic.net for more information.",
    icon: "ourlogos/rmnsq",
  },
  {
    title: "MRYIM",
    description:
      "Creative Ranges will build on the success of the Macedon Ranges Youth In Music Stages.",
    icon: "ourlogos/mryim",
  },
  {
    title: "Ranges Events",
    description:
      "Creative Ranges will continue the established Ranges Events brand to bring new and innovative festivals, performances and experiences to the Macedon Ranges -- while supporting lifelong learning!",
    icon: "ourlogos/rangeseventssq",
  },
  
];
---

<ContentSection title="Bringing together" id="features">
  <Fragment slot="lead">
    We're bringing together community music programs like the <span class="text-primary">Ranges Music Network</span> and youth stage <span class="text-primary">MRYIM</span>.<br />Promoting local and private events with supported workplace learning opportunities through
    <span class="text-primary">Ranges Events.</span><br />
    We're working towards <span class="text-primary"></span>a new place to connect, share and create</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
<div class="grid md:rid-cols-4 place-items-center text-center"><span>The Creative Ranges Foundation. A not-for-profit community organization.</span><span>Email: <a href="mailto:info@creativeranges.org" target="_blank">info@creativeranges.org</a></span><span>Phone: 044 992 2425.</span><span>ABN 25682587300.</span></div>