---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Think, explore & grow creatively!" id="intro">
  <Icon slot="eyebrow" name="ourlogos/logo" class="size-32" />
  <Fragment slot="lead">
    We're a new Macedon Ranges <span class="text-primary">not-for-profit</span> committed to allowing the young and 'young-at-heart' to
    <span class="text-primary">express</span> themselves,
    <span class="text-primary">share</span> ideas and 
    performance meets <span class="text-primary">explore</span> the Creative Arts.
  </Fragment>
  <!-- <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>Try it out</span>
    </a>
  </div> -->
</ContentSection>
